
<% include partials/header %>

<!--<base href="/">-->
<link rel="stylesheet" type="text/css" href="/home.css">

<h3>Congratulations <%= candidate.toUpperCase() %>, </h3>
<p>
   Good work! for making it up to here. Now that you have mastered the routing skills, try making your apps more dynamic and styly.  
</p>
<p>
  Good luck, <br/>
  Cloud9 team.
</p>

<% include partials/footer %>
